doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		style
			include ../public/stylesheets/style.css

	

	body
		header
			h1
				a(href='/').site-title Members Only
			nav 
				ul
					if user
						li
							a(href='/log-out') Log Out 
					else 
						li
							a(href='/log-in') Log In
		.content 
			block content
